h2 {
    color: rgb(111, 111, 238);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

li, p {
    font-family: 'Times New Roman', 'Times', 'serif';
    font-size: 30px;
}

html {
    background-color: blanchedalmond;
}

.container {
    display: flex; 
}
a {
    font-family: 'Times New Roman', 'Times', 'serif';
    font-size: 30px;
}

.box1{
    width: 600px;
    height: 600px;
    margin: 0 10px 20px 120px;
    background-color: lightblue; /* Adjust the background color as needed */
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

.box2{
    width: 600px;
    height: 600px;
    /* top right bottom left */
    margin: 0 0 20px 10px;
    background-color: lightblue; 
    padding: 0 20px 20px 40px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 10px 20px 200px;

}
.cat-container{

display:flex;

}